@font-face {
    font-family: "inter";
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "interMed";
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
    font-family: "interBlack";
    src: url('../fonts/Inter-Black.woff2') format('woff2');
}

@font-face {
    font-family: "interBold";
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
    font-family: "interLight";
    src: url('../fonts/Inter-Light.woff2') format('woff2');
}